body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background:#FFFFFF
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav--title {
  color: #FFFFFF; 
  font-weight: 500;
  font-size: 14.4608px;
}

.nav--bar {
  display: flex;
  max-height: 55px;

  justify-content: center;
  align-items: center;

  background-color: #F55A5A;
}
.nav--globe {
  max-width: 24px;
  max-height: 24px;
}
